* {
    box-sizing: border-box;
}

section > p {
    background-color: #8FC9A3;
    margin: 0;
    border: 5px solid black;
    padding: 40px 25px 40px 25px;
}

section {
    width: 450px;
    border: 1.75px solid black;
    padding: 35px;
    margin: 0 auto;
}


